Contexto/Service References/WSLogMicros/Service151.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://nterrorsinfo.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServicioMicros" />
  <xs:import schemaLocation="http://nterrorsinfo.azurewebsites.net/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfServiceMicros" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveFacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centroConsumo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreFile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="errorTry" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="recordDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="referencia_CI_CC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTrama">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="claveFacto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="centroConsumo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombreFile" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServicioMicros" minOccurs="0" name="trama" nillable="true" type="q1:EnviarLog.Trama" />
        <xs:element minOccurs="0" name="recordDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="referencia_CI_CC" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tramaXML" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarTramaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaPing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertaPingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceMicros" minOccurs="0" name="composite" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceMicros" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q3:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>