ServiceTramasMicros/DocumentXml/DocumentoFiscalv11.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.facto.nexttech/DocumentoFiscal" xmlns="http://schema.facto.nexttech/DocumentoFiscal" elementFormDefault="qualified" attributeFormDefault="unqualified">


    <xs:element name="documentoFiscal">
        <xs:annotation>
            <xs:documentation>Representa los elementos incluidos en una factura o una nota de credito o debito. Se incluyen los que son requeridos por el SAT.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="identificador" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
  					Identifica de manera unica esta factura dentro del
  					sistema FactOSS. No requerido por el SAT.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="sistemaEmisor" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="numeroTransaccion" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="transaccionReferenciada" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="selloSAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="fechaTimbrado" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="noCertificadoSAT" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="folioFiscal" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="cadenaOriginalCFDI" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="docReferenciado" type="docReferenciado"
  			maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="folio" type="xs:long" />
                <xs:element name="serie" type="xs:string"></xs:element>
                <xs:element name="descripcion" type="xs:string" maxOccurs="1"
  			minOccurs="0">
                </xs:element>
                <xs:element name="tipoDeElaboracion" type="enumElaboracion"
  			maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="nombreCorte" type="nombreCorte"
  			maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="estatus" type="xs:string" maxOccurs="1"
  			minOccurs="0">
                </xs:element>
                <xs:element name="fechasProceso" type="fechasProceso"></xs:element>



                <xs:element name="aprobacion" type="aprobacion"></xs:element>

                <xs:element name="emisor" type="emisor"></xs:element>

                <xs:element name="cliente" type="cliente"></xs:element>
                <xs:element name="receptor" type="receptor"></xs:element>


                <xs:element name="idioma" type="xs:string"></xs:element>
                <xs:element name="plantilla" type="plantilla"></xs:element>

                <xs:element name="idPlantilla" type="xs:int" maxOccurs="1"
  			minOccurs="0">
                </xs:element>
                <xs:element name="usuario" type="usuario" maxOccurs="1"
  			minOccurs="0">
                </xs:element>
                <xs:element name="sucursal" type="sucursal" maxOccurs="1"
  			minOccurs="0">
                </xs:element>
                <xs:element name="envio" type="envio" maxOccurs="1"
  			minOccurs="0">
                </xs:element>



                <xs:element name="estadoCuenta" type="estadoCuenta"
  			maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="agrupadoReferencias"
  			type="agrupadoReferencias" maxOccurs="1" minOccurs="0">
                </xs:element>



                <xs:element name="producto" type="producto"
  			maxOccurs="unbounded" minOccurs="0">
                </xs:element>

                <xs:element name="agrupadoConceptos" type="agrupadoConceptos"
  			maxOccurs="unbounded" minOccurs="0" />

                <xs:element name="agrupadoLibre" type="agrupadoConceptos"
  			maxOccurs="unbounded" minOccurs="0">
                </xs:element>

                <xs:element name="descuentoMonto" type="descuentoMonto"
  			maxOccurs="unbounded" minOccurs="0">
                </xs:element>
                <xs:element name="descuentos" type="importe" />
                <xs:element name="impuestos" type="importe" />
                <xs:element name="subtotal" type="importe">
                    <xs:annotation>
                        <xs:documentation>
  					Representa la suma de los importes antes de Cargos
  					e impuestos.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="total" type="importe">
                    <xs:annotation>
                        <xs:documentation>
  					Representa la suma del subtotal, menos los
  					descuentos aplicables, mas los impuestos
  					trasladados, menos los impuestos retenidos.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="infoExtranjeros" type="infoExtranjeros"></xs:element>
                <xs:element name="propina" type="importe"></xs:element>
                <xs:element name="noGravable" type="noGravable" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="desgloseDescuento" type="desgloseDescuento" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="formasPago" type="formasPago" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="totalTexto" type="xs:string"></xs:element>
                <xs:element name="moneda" type="xs:string"></xs:element>
                <xs:element name="tipoDeCambio" type="xs:float">
                    <xs:annotation>
                        <xs:documentation>
  					El valor de este elemento es uno, a excepcion de
  					cuando la divisa de facturacion es diferente a la
  					moneda nacional.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="paisExpedidoEn" type="xs:string" />
                <xs:element name="tipoDeComprobante"
  			type="enumTipoDeComprobante" />

                <xs:element name="rutaArchivado" type="xs:string"></xs:element>
                <xs:element name="nombreArchivo" type="xs:string"></xs:element>
                <xs:element name="agregadoTextos" type="agregadoTextos"
  			maxOccurs="1" minOccurs="0">
                </xs:element>

                <xs:element name="agregadoImagenes" type="agregadoImagenes"
  			maxOccurs="1" minOccurs="0">
                </xs:element>

                <xs:element name="agrupadoDetalleUso"
  			type="agrupadoDetalleUso" maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="formaDePago" type="xs:string" />
                <xs:element name="condicionesDePago" type="xs:string" />
                <xs:element name="numeroCuenta" type="xs:string" />
                <xs:element name="metodoDePago" type="xs:string" />
                <xs:element name="cadenaOriginal" type="xs:string"></xs:element>
                <xs:element name="selloFiscal" type="xs:string"></xs:element>

                <xs:element name="prestadorServicioCFD"
  			type="prestadorServiciosCFD" maxOccurs="1" minOccurs="0">
                </xs:element>
                <xs:element name="agregadoDatos" type="agregadoDatos" maxOccurs="unbounded" minOccurs="0"></xs:element>
                <xs:element name="addenda" type="xs:string" maxOccurs="1" minOccurs="0"></xs:element>

            </xs:sequence>
            <xs:attribute name="id" type="xs:int"></xs:attribute>
        </xs:complexType>

    </xs:element>





    <xs:complexType name="aprobacion">
        <xs:sequence>
            <xs:element name="anno" type="xs:int" />
            <xs:element name="numero" type="xs:int" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>


    <xs:complexType name="agrupadoConceptos">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string"></xs:element>
            <xs:element name="producto" type="xs:string"></xs:element>


            <xs:element name="concepto" type="concepto"
  			nillable="false" minOccurs="1" maxOccurs="unbounded" />

            <xs:element name="subtotal" type="importe"></xs:element>
            <xs:element name="total" type="importe"></xs:element>
            <xs:element name="descuentoFactura" type="importe"></xs:element>
            <xs:element name="impuesto" type="importe"></xs:element>
            <xs:element name="impuestoDesc" type="xs:string"></xs:element>
            <xs:element name="promocion" type="importe"></xs:element>
            <xs:element name="promocionDesc" type="xs:string"></xs:element>
            <xs:element name="impTrasladado" type="impTrasladado" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="ivaPorcentaje" type="xs:int"></xs:element>
            <xs:element name="tipoCambio" type="xs:double"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="concepto">
        <xs:sequence>
            <xs:element name="tipoDeCargo" type="enumTipoDeCargo"></xs:element>
            <xs:element name="cantidadFacturada" type="xs:int">
                <xs:annotation>
                    <xs:documentation>
  					En las facturas expresa la cantidad de bienes o
  					servicios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="descripcion" type="xs:string" maxOccurs="unbounded" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
  					Define el concepto de facturacion al que se
  					refiere el valor unitario e importe neto.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="importeNeto" type="importe" />
            <xs:element name="valorUnitarioNeto" type="importe">
                <xs:annotation>
                    <xs:documentation>
  					Representa la suma del subtotal, menos los
  					descuentos aplicables, mas los impuestos
  					trasladados, menos los impuestos retenidos.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tipoCambio" type="xs:double"></xs:element>
            <xs:element name="periodoIni" type="xs:date"></xs:element>
            <xs:element name="periodoFin" type="xs:date"></xs:element>
            <xs:element name="tarifaBase" type="importe"></xs:element>
            <xs:element name="descuento" type="importe"></xs:element>
            <xs:element name="descuentoDesc" type="xs:string"></xs:element>
            <xs:element name="impuesto" type="importe"></xs:element>
            <xs:element name="impuestoDesc" type="xs:string"></xs:element>

        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="producto">
        <xs:sequence>
            <xs:element name="cantidadFacturada" type="importe">
                <xs:annotation>
                    <xs:documentation>
  					En las facturas expresa la cantidad de bienes o
  					servicios.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clave" type="xs:string"></xs:element>
            <xs:element name="tipoUnidad" type="xs:string"></xs:element>
            <xs:element name="descripcion" type="xs:string" maxOccurs="unbounded" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
  					Define el concepto de facturacion al que se
  					refiere el valor unitario e importe neto.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="periodoFacturacion" type="xs:string"/>
            <xs:element name="importeNeto" type="importe" />
            <xs:element name="valorUnitarioNeto" type="importe">
                <xs:annotation>
                    <xs:documentation>
  					Representa la suma del subtotal, menos los
  					descuentos aplicables, mas los impuestos
  					trasladados, menos los impuestos retenidos.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="descuento" type="importe"></xs:element>
            <xs:element name="descuentoDesc" type="xs:string"></xs:element>
            <xs:element name="impuesto" type="importe"></xs:element>
            <xs:element name="impuestoDesc" type="xs:string"></xs:element>
            <xs:element name="ivaPorcentaje" type="xs:int"></xs:element>
            <xs:element name="tipoCambio" type="xs:double"></xs:element>
            <xs:element name="impTrasladado" type="impTrasladado" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="infoAduanal" type="infoAduanal"
  			maxOccurs="unbounded" minOccurs="0">
            </xs:element>
            <xs:element name="detalle" type="detalle" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="cargo" type="cargo" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="instEducativas" type="instEducativas" maxOccurs="unbounded" minOccurs="0"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="emisor">
        <xs:sequence>
            <xs:element name="rfc" type="rfc" />
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="numCertificado" type="xs:string"></xs:element>
            <xs:element name="calle" type="xs:string" />
            <xs:element name="numero" type="xs:string"></xs:element>
            <xs:element name="numeroInt" type="xs:string"></xs:element>
            <xs:element name="colonia" type="xs:string"></xs:element>
            <xs:element name="municipio" type="xs:string" />
            <xs:element name="estado" type="xs:string" />
            <xs:element name="pais" type="xs:string" />
            <xs:element name="codigoPostal" type="xs:string" />
            <xs:element name="regimenFiscal" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>


    <xs:complexType name="cliente">
        <xs:sequence>
            <xs:element name="cheque" type="xs:string" />
            <xs:element name="horaCheque" type="xs:string" />
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="habitacion" type="xs:string"/>
            <xs:element name="folio" type="xs:string"/>
            <xs:element name="fehaEntrada" type="xs:string"/>
            <xs:element name="fechaSalida" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="fechasProceso">
        <xs:sequence>
            <xs:element name="expedicion" type="xs:dateTime" />
            <xs:element name="corteIni" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="corteFin" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="pago" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>

            <xs:element name="fechaDenominativa" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="periodicidad" type="enumPeriodicidad" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="fechaDeTipoDeCambio" type="xs:dateTime" maxOccurs="1" minOccurs="0"></xs:element>
            <xs:element name="fechaConsumo" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="receptor">
        <xs:sequence>
            <xs:element name="rfc" type="rfc" />
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="cuentaId" type="xs:int"></xs:element>
            <xs:element name="cuenta" type="xs:string"></xs:element>
            <xs:element name="calle" type="xs:string" />
            <xs:element name="numero" type="xs:string"></xs:element>
            <xs:element name="numeroInt" type="xs:string"></xs:element>
            <xs:element name="colonia" type="xs:string"></xs:element>
            <xs:element name="municipio" type="xs:string" />
            <xs:element name="estado" type="xs:string" />
            <xs:element name="pais" type="xs:string" />
            <xs:element name="codigoPostal" type="xs:string" />
            <xs:element name="telefono" type="xs:string"></xs:element>
            <xs:element name="correoElectronico" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:simpleType name="enumTipoDeComprobante">
        <xs:annotation>
            <xs:documentation>Expresa el efecto del documento fiscal para el contribuyente emisor, y lo limita a 3 valores.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INGRESO"/>
            <xs:enumeration value="EGRESO"/>
            <xs:enumeration value="TRANSLADO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="enumTipoDeCargo">
        <xs:annotation>
            <xs:documentation>Expresa el efecto del documento fiscal para el contribuyente emisor, y lo limita a 3 valores.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RECURRENTE"/>
            <xs:enumeration value="NO_RECURRENTE"/>
            <xs:enumeration value="USO"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="enumElaboracion">
        <xs:annotation>
            <xs:documentation>
  			Expresa el efecto del documento fiscal para el
  			contribuyente emisor, y lo limita a 3 valores.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MANUAL" />
            <xs:enumeration value="AUTOMATICA" />
            <xs:enumeration value="EXTERNA"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rfc">
        <xs:annotation>
            <xs:documentation>
  			Restringe los valores introducidos en un campo que
  			contiene una Clave de Registro de Contribuyentes. Deben
  			omitirse guiones y espacios.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="12"></xs:minLength>
            <xs:maxLength value="13"></xs:maxLength>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="importe">
        <xs:annotation>
            <xs:documentation>Restringe los valores de los importes al uso de 2 decimales por requerimiento del SAT</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>


    <xs:complexType name="envio">
        <xs:annotation>
            <xs:documentation>Representa al receptor del documento fiscal.  Se incluyen datos de su domicilio de envio.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="calle" type="xs:string" />

            <xs:element name="numero" type="xs:string"></xs:element>
            <xs:element name="colonia" type="xs:string"></xs:element>
            <xs:element name="municipio" type="xs:string" />
            <xs:element name="estado" type="xs:string" />

            <xs:element name="pais" type="xs:string" />




            <xs:element name="codigoPostal" type="xs:string" />
            <xs:element name="dirLinea1" type="xs:string"></xs:element>
            <xs:element name="dirLinea2" type="xs:string"></xs:element>
            <xs:element name="dirLinea3" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sucursal">
        <xs:annotation>
            <xs:documentation>Representa la sucursal que emite la factura</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="calle" type="xs:string" />
            <xs:element name="numero" type="xs:string"></xs:element>
            <xs:element name="numeroInt" type="xs:string"></xs:element>
            <xs:element name="colonia" type="xs:string"></xs:element>
            <xs:element name="municipio" type="xs:string" />
            <xs:element name="estado" type="xs:string" />
            <xs:element name="pais" type="xs:string" />
            <xs:element name="codigoPostal" type="xs:string" />
            <xs:element name="telefono" type="xs:string" />
            <xs:element name="fax" type="xs:string" />
            <xs:element name="telefono2" type="xs:string" />
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="estadoCuenta">
        <xs:sequence>
            <xs:element name="movimiento" type="movimiento"
    			maxOccurs="unbounded" minOccurs="0">
            </xs:element>
            <xs:element name="saldoAnterior" type="importe"></xs:element>
            <xs:element name="saldoPendiente" type="importe"></xs:element>
            <xs:element name="totalApagar" type="importe"></xs:element>
        </xs:sequence>

    </xs:complexType>

    <xs:complexType name="referencia">
        <xs:sequence>
            <xs:element name="banco" type="xs:string"></xs:element>
            <xs:element name="tipoFicha" type="xs:string"></xs:element>
            <xs:element name="cuentaConvenio" type="xs:string"></xs:element>
            <xs:element name="referencia" type="xs:string"></xs:element>
            <xs:element name="sucursal" type="xs:string"></xs:element>
            <xs:element name="clabe" type="xs:string"></xs:element>
            <xs:element name="aba" type="xs:string"></xs:element>
            <xs:element name="swift" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="agrupadoReferencias">
        <xs:sequence>
            <xs:element name="referencia" type="referencia" maxOccurs="unbounded" minOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="infoExtranjeros">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string" />
            <xs:element name="pais" type="xs:string" />
            <xs:element name="pasaporte" type="xs:string" />
            <xs:element name="tarjeta" type="xs:string" />
            <xs:element name="formatoPago" type="xs:string" />
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="movimiento">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string"></xs:element>
            <xs:element name="fecha" type="xs:date"></xs:element>
            <xs:element name="importe" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="agregadoTextos">
        <xs:sequence>
            <xs:element name="texto1" type="xs:string"></xs:element>
            <xs:element name="texto2" type="xs:string"></xs:element>
            <xs:element name="texto3" type="xs:string"></xs:element>
            <xs:element name="texto4" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="agregadoImagenes">
        <xs:sequence>
            <xs:element name="rutaImagen1" type="xs:string"></xs:element>
            <xs:element name="rutaImagen2" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="impTrasladado">
        <xs:sequence>
            <xs:element name="impuesto" type="enumImpTrasladado"></xs:element>
            <xs:element name="tasa" type="importe"></xs:element>
            <xs:element name="importe" type="importe"></xs:element>
            <xs:element name="tasaAplicada" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="instEducativas">
        <xs:sequence>
            <xs:element name="nombreAlumno" type="xs:string"></xs:element>
            <xs:element name="CURP" type="xs:string"></xs:element>
            <xs:element name="nivelEducativo">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Preescolar"/>
                        <xs:enumeration value="Primaria"/>
                        <xs:enumeration value="Secundaria"/>
                        <xs:enumeration value="Profesional técnico"/>
                        <xs:enumeration value="Bachillerato o su equivalente"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="autRVOE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:whiteSpace value="collapse"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="rfcPago" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="enumImpTrasladado">
        <xs:restriction base="xs:string"></xs:restriction>
    </xs:simpleType>



    <xs:complexType name="detalleUso">
        <xs:attribute name="id" type="xs:int"></xs:attribute>
        <xs:attribute name="ir" type="xs:int"></xs:attribute>
        <xs:attribute name="ia" type="xs:int"></xs:attribute>
        <xs:attribute name="ic" type="xs:int"></xs:attribute>
        <xs:attribute name="iu" type="xs:string"></xs:attribute>
        <xs:attribute name="fu" type="xs:dateTime"></xs:attribute>
        <xs:attribute name="cu" type="xs:string"></xs:attribute>
        <xs:attribute name="uso" type="xs:double"></xs:attribute>
        <xs:attribute name="imp" type="xs:decimal"></xs:attribute>
        <xs:attribute name="d1" type="xs:string"></xs:attribute>
        <xs:attribute name="d2" type="xs:string"></xs:attribute>
        <xs:attribute name="d3" type="xs:string"></xs:attribute>
        <xs:attribute name="d4" type="xs:string"></xs:attribute>
        <xs:attribute name="d5" type="xs:string"></xs:attribute>
    </xs:complexType>




    <xs:complexType name="agrupadoDetalleUso">
        <xs:sequence>
            <xs:element name="uso" type="detalleUso" maxOccurs="unbounded" minOccurs="1"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="enumPeriodicidad">
        <xs:restriction base="xs:string">
            <xs:enumeration value="MENSUAL"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="nombreCorte">
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="descuentoMonto">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string"></xs:element>
            <xs:element name="monto" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="infoAduanal">
        <xs:sequence>
            <xs:element name="numero" type="xs:string"></xs:element>
            <xs:element name="fecha" type="xs:date"></xs:element>
            <xs:element name="aduana" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="prestadorServiciosCFD">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="rfc" type="xs:string"></xs:element>
            <xs:element name="noCertificado" type="xs:string"></xs:element>
            <xs:element name="fechaAutorizacion" type="xs:dateTime"></xs:element>
            <xs:element name="noAutorizacion" type="xs:int"></xs:element>
            <xs:element name="selloDelPSGECFD" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="docReferenciado">
        <xs:sequence>
            <xs:element name="serie" type="xs:string"></xs:element>
            <xs:element name="folio" type="xs:long"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="plantilla">
        <xs:sequence>
            <xs:element name="display" type="display"></xs:element>
            <xs:element name="layout" type="xs:string"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="usuario">
        <xs:sequence>
            <xs:element name="elaboro" type="xs:string"></xs:element>
            <xs:element name="sello" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="detalle">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string" maxOccurs="unbounded" minOccurs="0"></xs:element>
            <xs:element name="importeNeto" type="importe"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>

    <xs:complexType name="cargo">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string"></xs:element>
            <xs:element name="monto" type="importe"></xs:element>
            <xs:element name="porsentaje" type="importe"></xs:element>
            <xs:element name="sumarmonto" type="xs:boolean"></xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int"></xs:attribute>
    </xs:complexType>


    <xs:simpleType name="disp">
        <xs:restriction base="xs:string"></xs:restriction>
    </xs:simpleType>



    <xs:complexType name="display">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="id" type="xs:int" use="optional"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="noGravable">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"></xs:element>
            <xs:element name="importe" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="desgloseDescuento">
        <xs:sequence>
            <xs:element name="descuentoNeto" type="importe"></xs:element>
            <xs:element name="descuentoImpuestos" type="importe"></xs:element>
            <xs:element name="descuentoBruto" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="formasPago">
        <xs:sequence>
            <xs:element name="descripcion" type="xs:string"></xs:element>
            <xs:element name="importe" type="importe"></xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="agregadoDatos">
        <xs:sequence>
            <xs:element name="etiqueta" type="xs:string"></xs:element>
            <xs:element name="valor" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
