ServiceTramasMicros/Web References/Facto/FactoEndPointsService0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.sat.gob.mx/ine" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="t_Ambito">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Local" />
      <xs:enumeration value="Federal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_ClaveEntidad">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AGU" />
      <xs:enumeration value="BCN" />
      <xs:enumeration value="BCS" />
      <xs:enumeration value="CAM" />
      <xs:enumeration value="CHP" />
      <xs:enumeration value="CHH" />
      <xs:enumeration value="COA" />
      <xs:enumeration value="COL" />
      <xs:enumeration value="DIF" />
      <xs:enumeration value="DUR" />
      <xs:enumeration value="GUA" />
      <xs:enumeration value="GRO" />
      <xs:enumeration value="HID" />
      <xs:enumeration value="JAL" />
      <xs:enumeration value="MEX" />
      <xs:enumeration value="MIC" />
      <xs:enumeration value="MOR" />
      <xs:enumeration value="NAY" />
      <xs:enumeration value="NLE" />
      <xs:enumeration value="OAX" />
      <xs:enumeration value="PUE" />
      <xs:enumeration value="QTO" />
      <xs:enumeration value="ROO" />
      <xs:enumeration value="SLP" />
      <xs:enumeration value="SIN" />
      <xs:enumeration value="SON" />
      <xs:enumeration value="TAB" />
      <xs:enumeration value="TAM" />
      <xs:enumeration value="TLA" />
      <xs:enumeration value="VER" />
      <xs:enumeration value="YUC" />
      <xs:enumeration value="ZAC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_TipoComite">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ejecutivo Nacional" />
      <xs:enumeration value="Ejecutivo Estatal" />
      <xs:enumeration value="Directivo Estatal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="t_TipoProc">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ordinario" />
      <xs:enumeration value="Precampaña" />
      <xs:enumeration value="Campaña" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>