ServiceTramasMicros/Web References/Facto/FactoEndPointsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ejb.endpoint.hospitality.nexttech.mx.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="FactoEndPointsService" targetNamespace="http://ejb.endpoint.hospitality.nexttech.mx.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://hyatt33.factocloud.com.mx:80/facto/FactoEndPointsService?xsd=1" namespace="http://www.sat.gob.mx/ine" />
    </xsd:schema>
    <xsd:schema>
      <xsd:import schemaLocation="http://hyatt33.factocloud.com.mx:80/facto/FactoEndPointsService?xsd=2" namespace="http://ejb.endpoint.hospitality.nexttech.mx.com/" />
    </xsd:schema>
  </types>
  <message name="cancelarCfdi">
    <part name="parameters" element="tns:cancelarCfdi" />
  </message>
  <message name="cancelarCfdiResponse">
    <part name="parameters" element="tns:cancelarCfdiResponse" />
  </message>
  <message name="BusinessException">
    <part name="fault" element="tns:BusinessException" />
  </message>
  <message name="cancelarCfdiExterno">
    <part name="parameters" element="tns:cancelarCfdiExterno" />
  </message>
  <message name="cancelarCfdiExternoResponse">
    <part name="parameters" element="tns:cancelarCfdiExternoResponse" />
  </message>
  <message name="generarCfdi">
    <part name="parameters" element="tns:generarCfdi" />
  </message>
  <message name="generarCfdiResponse">
    <part name="parameters" element="tns:generarCfdiResponse" />
  </message>
  <message name="obtenerReceptor">
    <part name="parameters" element="tns:obtenerReceptor" />
  </message>
  <message name="obtenerReceptorResponse">
    <part name="parameters" element="tns:obtenerReceptorResponse" />
  </message>
  <message name="procesarIntegracion">
    <part name="parameters" element="tns:procesarIntegracion" />
  </message>
  <message name="procesarIntegracionResponse">
    <part name="parameters" element="tns:procesarIntegracionResponse" />
  </message>
  <message name="procesarTicket">
    <part name="parameters" element="tns:procesarTicket" />
  </message>
  <message name="procesarTicketResponse">
    <part name="parameters" element="tns:procesarTicketResponse" />
  </message>
  <portType name="FactoEndPoints">
    <operation name="cancelarCfdi">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdiRequest" message="tns:cancelarCfdi" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdiResponse" message="tns:cancelarCfdiResponse" />
      <fault wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdi/Fault/BusinessException" name="BusinessException" message="tns:BusinessException" />
    </operation>
    <operation name="cancelarCfdiExterno">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdiExternoRequest" message="tns:cancelarCfdiExterno" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdiExternoResponse" message="tns:cancelarCfdiExternoResponse" />
      <fault wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/cancelarCfdiExterno/Fault/BusinessException" name="BusinessException" message="tns:BusinessException" />
    </operation>
    <operation name="generarCfdi">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/generarCfdiRequest" message="tns:generarCfdi" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/generarCfdiResponse" message="tns:generarCfdiResponse" />
    </operation>
    <operation name="obtenerReceptor">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/obtenerReceptorRequest" message="tns:obtenerReceptor" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/obtenerReceptorResponse" message="tns:obtenerReceptorResponse" />
      <fault wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/obtenerReceptor/Fault/BusinessException" name="BusinessException" message="tns:BusinessException" />
    </operation>
    <operation name="procesarIntegracion">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/procesarIntegracionRequest" message="tns:procesarIntegracion" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/procesarIntegracionResponse" message="tns:procesarIntegracionResponse" />
    </operation>
    <operation name="procesarTicket">
      <input wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/procesarTicketRequest" message="tns:procesarTicket" />
      <output wsam:Action="http://ejb.endpoint.hospitality.nexttech.mx.com/FactoEndPoints/procesarTicketResponse" message="tns:procesarTicketResponse" />
    </operation>
  </portType>
  <binding name="FactoEndPointsPortBinding" type="tns:FactoEndPoints">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cancelarCfdi">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </fault>
    </operation>
    <operation name="cancelarCfdiExterno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </fault>
    </operation>
    <operation name="generarCfdi">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerReceptor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="BusinessException">
        <soap:fault use="literal" name="BusinessException" namespace="" />
      </fault>
    </operation>
    <operation name="procesarIntegracion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="procesarTicket">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FactoEndPointsService">
    <port name="FactoEndPointsPort" binding="tns:FactoEndPointsPortBinding">
      <soap:address location="http://hyatt33.factocloud.com.mx:80/facto/FactoEndPointsService" />
    </port>
  </service>
</definitions>